* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg: #ffffff;
  --text: #0f172a;
  --accent: #52647E;
  --card: #f8fafc;
}

body.dark {
  --bg: #0b1220;
  --text: #e5e7eb;
  --card: #111827;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.6;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 8%;
}

.logo {
  width: 180px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: var(--text);
  font-weight: 600;
}

.mode-btn {
  background: var(--accent);
  color: #fff;
  border: none;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* HERO */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 70px 8%;
  gap: 40px;
}

.hero-content h1 {
  font-size: 42px;
}

.hero-content span {
  color: var(--accent);
}

.hero-content p {
  margin: 20px 0;
  max-width: 600px;
}

.hero-img {
  width: 420px;
  max-width: 100%;
}

.btn {
  background: var(--accent);
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  text-decoration: none;
  margin-right: 10px;
  font-weight: 600;
}

.btn.outline {
  background: transparent;
  border: 2px solid var(--accent);
  color: var(--text);
}

/* SKILLS */
.skills {
  padding: 60px 8%;
  text-align: center;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.skill-card {
  background: var(--card);
  padding: 25px;
  border-radius: 18px;
}

.skill-card img {
  width: 100%;
  border-radius: 12px;
}

/* PROJECTS */
.projects {
  padding: 60px 8%;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 40px;
}

.project {
  background: var(--card);
  padding: 20px;
  border-radius: 18px;
}

.project img {
  width: 100%;
  border-radius: 12px;
}

/* FOOTER */
.footer {
  background: #111;
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column-reverse;
    text-align: center;
  }
}

.projects span {
  display: inline-block;
  margin-top: 8px;
  font-size: 14px;
  color: #64748b;
}

.projects a {
  color: #52647E;
  text-decoration: none;
  font-weight: 600;
}

.projects a:hover {
  text-decoration: underline;
}

.project {
  background: var(--card);
  padding: 22px;
  border-radius: 18px;
  transition: transform .2s ease;
}

.project:hover {
  transform: translateY(-6px);
}

