/* GLOBAL RESET */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: none;
  font-family: 'Poppins', sans-serif;
}

body.dark-mode {
  background: #1A1A1A;
  color: white;
}

/* NAVBAR */
.navbar {
  width: 100%;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-items li {
  display: inline-block;
  margin: 0 12px;
}

.navbar-items li a {
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}

.mode-btn {
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
  background: #52647E;
  color: white;
}

/* HERO */
.hero {
  background-image: url('/images/hero.png');
  height: 500px;
  padding-top: 200px;
  padding-left: 100px;
}

.hero-buttons button {
  margin-right: 10px;
}

button {
  margin-top: 20px;
  padding: 12px 30px;
  background: #52647E;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  transform: scale(1.05);
  background: #41536B;
}

/* JOURNEY/ SKILLS */
.journey {
  background: #618379;
  padding: 60px 0;
}

.journey-list {
  display: flex;
  width: 80%;
  margin: 0 10%;
  justify-content: space-between;
}

.journey-card {
  width: 30%;
  background-color: white;
  padding: 25px;
  border-radius: 40px;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
}

.journey-card:hover {
  transform: translateY(-10px);
}

/* PROJECTS */
.projects {
  padding: 60px 0;
}

.project-container {
  display: flex;
  justify-content: space-around;
  padding: 0 10%;
}

.project-card {
  width: 30%;
  background: white;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  transition: 0.3s;
}

.project-card:hover {
  transform: scale(1.05);
}

/* FOOTER */
footer {
  background: #333232;
  text-align: center;
  color: white;
  padding: 30px;
}
